<% @orders.each do |order| %>

  <% order.items.group(:title).each do |item_group| %>
  <%= order.id%>
    <%= item_group.title %>
    <%= number_to_currency(
      item_group.price,
      unit: item_group.currency,
      separator: ",",
      delimiter: ".",
      format: "%n %u") %>
      <%= link_to "+", item_selections_path(item_group, order_id: (@order ? @order.id : nil)), method: :post %>
      <span id="quantity-display"><%= item_group.selections.count %></span>
      <% if item_group.selections.count > 0 %>
        <%= link_to "-", item_selection_path(item_group, id: @selections.where(item_id: item_group.id).last.id), method: :delete, class: "delete-item-minus" %>
        <%= link_to "remove", destroy_all_item_selections_path(item_group), method: :delete %>
      <% else %>
        <span class="delete-item-minus">-</span>
      <% end %>
      <br>
  <% end %>
<% end %>
