<% @items.each do |item| %>
  <%= item.title %>
  <%= number_to_currency(
    item.price,
    unit: item.currency,
    separator: ",",
    delimiter: ".",
    format: "%n %u") %>
    <%= link_to "+", item_selections_path(item, order_id: ( @selections != [] ? @selections.maximum("order_id") : nil )), method: :post %>
    <span id="quantity-display"><%= item.selections.count %></span>
    <% if item.selections.count > 0 %>
      <%= link_to "-", item_selection_path(item, id: @selections.where(item_id: item.id).last.id), method: :delete, class: "delete-item-minus" %>
      <%= link_to "remove", destroy_all_item_selections_path(item, order_id: @selections.last.order_id), method: :delete %>
    <% else %>
      <span class="delete-item-minus">-</span>
    <% end %>
    <br>
<% end %>
